[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
	ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "bundle/vimcommander"]
	path = bundle/vimcommander
	url = https://github.com/vim-scripts/vimcommander.git
	ignore = dirty
[submodule "bundle/bexec"]
	path = bundle/bexec
	url = https://github.com/vim-scripts/Bexec.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "bundle/buftabs"]
	path = bundle/buftabs
	url = https://github.com/vim-scripts/buftabs.git
	ignore = dirty
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/parantapa/pydoc.vim.git
	ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "bundle/cf3"]
	path = bundle/cf3
	url = https://github.com/neilhwatson/vim_cf3.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = https://github.com/vim-scripts/vcscommand.vim.git
	ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "bundle/gummybears-colorscheme"]
	path = bundle/gummybears-colorscheme
	url = https://github.com/dbb/vim-gummybears-colorscheme.git
	ignore = dirty
[submodule "bundle/sudoedit"]
	path = bundle/sudoedit
	url = https://github.com/chrisbra/SudoEdit.vim.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
